<footer>

    <h3>Compartilhe seus melhores momentos!</h3>

    <div class="footer-contacts">
      <div class="insta-contact">
        <app-icon src="../../../assets/icons/icons8-instagram.svg"></app-icon>
      <a href="">Instagram do Dev</a>
      </div>

      <div class="git-contact">
        <app-icon src="../../../assets/icons/icons8-instagram.svg"></app-icon>
      <a href="">GitHub do Dev</a>
      </div>

      <div class="linkedin-contact">
        <app-icon src="../../../assets/icons/icons8-instagram.svg"></app-icon>
        <a href="">Linkedin do Dev</a>
      </div>

    </div>


    <p><span>Moments</span>&copy, 2024</p>

</footer>
