
footer{
  border-top: 1px solid #777;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: rgb(91, 154, 205);

}

footer h3{
  margin-top: 1.2em;
}

footer span{
  font-weight: bold;
  color: white;
}

.footer-contacts{
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;

}

.footer-contacts a {
  text-align: center;
  text-decoration: none;
  color: #333; /* Cor do texto */

}

.insta-contact, .git-contact, .linkedin-contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

app-icon{
  fill: black; /* Cor padrão do ícone (preto) */
  transition: fill 0.3s ease; /* Adiciona uma transição suave */
}


app-icon:hover{
  fill: white; /* Cor ao passar o mouse (branco) */
}

