.moment-container {
    text-align: center;
  }
  
  .moments {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .moment-card {
    display: flex;
    flex-direction: column; /* Permite colocar o conteúdo do card em uma coluna */
    justify-content: space-between; /* Espaça o conteúdo e os botões */
    width: 250px; /* Largura de cada card */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .moment-card h3 {
    margin-top: 0;
  }
  
  .moment-card p {
    flex-grow: 1; /* Permite que o conteúdo de descrição ocupe o espaço restante */
  }
  
  .moment-actions {
    margin-top: auto; /* Garante que os botões fiquem no final */
  }
  