<form (ngSubmit)="submit()" [formGroup]="momentForm" #formDir=""ngForm>
    <div class="form-group">
        <label>Titulo:</label>
        <input type="text" 
        placeholder="Coloque um título"
         formControlName="title" 
         required>
    </div>
    <div *ngIf="title.invalid" && formDir.submitted class="validation-error">
        <p>O Título é obrigatório!</p>
    </div>
    <div class="form-group">
        <label>Descrição:</label>
        <textarea placeholder="O que aconteceu lá?" required></textarea>
    </div>
    <div class="form-group">
        <label for="image">Coloque a foto que mais gostou:</label>
        <input type="file" required>
    </div>
    <input type="submit" value="{{btnText}}">
</form>
