<button mat-raised-button (click)="openCreateTaskModal()" class="demo-button example-label">
  Adionar Tarefa
</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

  <!-- activity Column -->
  <ng-container matColumnDef="activity">
    <th mat-header-cell *matHeaderCellDef>Atividade</th>
    <td mat-cell *matCellDef="let element">{{element.activity}}</td>
  </ng-container>

  <!-- desription Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Descrição</th>
    <td mat-cell *matCellDef="let element">{{element.description}}</td>
  </ng-container>

  <!-- completed Column -->
  <ng-container matColumnDef="deadLine">
    <th mat-header-cell *matHeaderCellDef>Prazo Final</th>
    <td mat-cell *matCellDef="let element">{{element.deadLine}}</td>
  </ng-container>

  <!-- completed Column -->
  <ng-container matColumnDef="exceeded">
    <th mat-header-cell *matHeaderCellDef>Excedida</th>
    <td mat-cell *matCellDef="let element">{{element.exceeded}}</td>
  </ng-container>

  <!-- completed Column -->
  <ng-container matColumnDef="completed">
    <th mat-header-cell *matHeaderCellDef>Completa</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="mat-18" *ngIf="element.completed ; else notChecked">check</mat-icon>
      <ng-template #notChecked>
        <mat-icon class="mat-18">close</mat-icon>
      </ng-template>
    </td>
  </ng-container>

  <!-- completed Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="mat-18">
        <span class="material-symbols-outlined" mat-raised-button matTooltip="Editar Tarefa">
          edit_note
        </span>
      </mat-icon>
      <mat-icon class="mat-18">
        <span class="material-symbols-outlined" mat-raised-button matTooltip="Excluir Tarefa">
          delete_forever
        </span>
      </mat-icon>
    </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
