<div class="container">
  <mat-icon class="mat-18" (click)="closeModal()">close</mat-icon>

<form class="new-activity-form">

  <mat-form-field class="example-full-width">
    <mat-label>Titulo da Atividade</mat-label>
    <input matInput  [(ngModel)]="data.activity" name="activityTitle" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Descrição</mat-label>
    <textarea matInput placeholder="descreva a atividade.." [(ngModel)]="data.description" name="desciptionName"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Prazo Final</mat-label>
    <input matInput [matDatepicker]="picker" (dateChange)="setDeadline($event)">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [calendarHeaderComponent]="exampleHeader"></mat-datepicker>
  </mat-form-field>


  <div class="example-button-row" >
    <button mat-button color="accent" (click)="createActivity()">Salvar Atividade</button>
  </div>

</form>

</div>
