.new-activity-form {
  background-color: rgb( 66, 66, 66); /* Cor de fundo do modal */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Sombra do modal */
  display: flex;
  flex-direction: column;

}

.example-full-width {
  width: 100%;
}


