<footer>
  <div class="container">
    <div class="left-container">
      <span>Redes Sociais:</span>
      <div class="icons">
        <div class="github">
          <app-icon src="../../../assets/icons/icons8-github-50.svg"></app-icon>
        <span>Github</span>
        </div>
        <div class="instagram">
          <app-icon src="../../../assets/icons/icons8-instagram.svg"></app-icon>
          <span>Instagram</span>
        </div>
        <div class="linkedin">
          <app-icon src="../../../assets/icons/icons8-linkedin.svg"></app-icon>
          <span>Linkedin</span>
        </div>
        </div>
    </div>
    <div class="medium-container">
      <span>Contatos:</span>
      <div class="email">
        <mat-icon >mail</mat-icon>
        <span>andrermatos90&#64;gmail.com</span>
      </div>
      <div class="fone">
        <mat-icon>call</mat-icon>
        <span>(47) 999698126</span>
      </div>
      <div class="fone">
        <mat-icon class=>call</mat-icon>
        <span>(47) 988333550</span>
      </div>
    </div>
  </div>
  <div class="bottom-container">
    <p><i>ProjetoToDoList&#64;copy, 2024</i></p>
  </div>

</footer>
