.container {
  display: flex;
  flex-direction: column;
}

.top-content {
  background-color: #363636;
  background-image: linear-gradient(to bottom, #1C1C1C, #363636);
  font-family: "Karla";
  padding: 5px;

}

.medium-content {
  display: flex;
  flex-direction: row;
}

.details{
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, #363636, #4F4F4F);
  padding: 5px;

}

.image-container {
  margin-right: 20px; /* ou qualquer outro valor que você preferir */

}

.description-content {
  margin-top: 20px; /* ou qualquer outro valor que você preferir */
  background-image: linear-gradient(to bottom, #4F4F4F, #696969);
  font-size: 16px;
  padding: 5px;

}
