<ng-container>
  <div>
    <button class="close-btn" (click)="closeBtn()">Fechar</button>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit esse officiis corrupti unde repellat non quibusdam! Id nihil itaque
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit esse officiis corrupti unde repellat non quibusdam! Id nihil itaque
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit esse officiis corrupti unde repellat non quibusdam! Id nihil itaque
    </p>
  </div>

</ng-container>

para o proximo estudo fazer com que a a propriedade show seja compartilhada
entre game e gameDetails para que o botao e fechar modal funcione
talvez tenha que declarar a propriedade e a função em app component
