<ng-container>
  <button class="close-btn" (click)="closeBtn()">
      <app-icon src="../../../../assets/icons/close-button.svg"></app-icon>
  </button>

  <div class="container">
      <div class="top-content">
          <h1>{{game.title}} - {{game.year}}</h1>
      </div>

      <div class="medium-content">
          <div class="image-container">
              <img src={{game.imgUrl}} alt="">
          </div>
         <div>
          <div class="details">
            <span><b>Gênero:</b> {{game.genre}}</span>
            <span><b>Plataformas:</b> {{game.platforms}}</span>
            <span><b>Pontuação:</b> {{game.score}}</span>
        </div>
        <div class="description-content">
          <span><b>Descrição:</b> {{game.longDescription}}</span>
      </div>
         </div>
      </div>


  </div>
</ng-container>
