<footer>

  <h3>Redes sociais:</h3>

    <div class="footer-contacts">


      <div class="insta-contact">
      <a href="https://www.instagram.com/andrer.matos/" target="blank">
        <app-icon src="../../../assets/icons/instagram_logo_icon_173753.svg"></app-icon>Instagram
      </a>
      </div>

      <div class="git-contact">
      <a href="https://github.com/andrematos90" target="blank">
        <app-icon src="../../../assets/icons/github_git_icon_145985.svg">
        </app-icon>GitHub
      </a>
      </div>

      <div class="linkedin-contact">
        <a href="https://linkedin.com/in/andré-rosa-de-matos" target="blank">
          <app-icon src="../../../assets/icons/LinkedIn_icon-icons.com_55877.svg"></app-icon>Linkedin
        </a>
      </div>

    </div>


    <p>ProjetoGameList&copy, 2024</p>

</footer>
