
/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Sixtyfour&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sixtyfour&display=swap');

html, body { height: 100%; }
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


.imagem-logo{
  width: 80px;
  height: 80px;
  margin-top: 10px;
}
