
.container{

    background-image: url('../../../assets/imagens/background.jpg');
    background-size: cover; /* Isso faz com que a imagem cubra todo o fundo */
    background-position: center; /* Isso centraliza a imagem */
    background-repeat: no-repeat; /* Isso evita a repetição da imagem */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.description{
  width: 300px;
  height: 500px;
  color: white;
  font-family: "Open Sans", sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.description h1 {
  font-family: "Black Ops One", system-ui;
}

.button{
  width: 100px;
  height: 40px;
  background-color: #1C1C1C;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.button:hover{

  background-color: #4F4F4F;
}

a{
  text-decoration: none;
  color: white;
}

