footer{
    border-top: e1px solid #8B008B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}



footer h3{
    margin-bottom: 1.2em;

}

footer span{
    font-weight: bold;
    color: #8B008B;
}