<div class="container">
  <div class=title>
    <h1>Bem Vindo ao Moments!</h1>
  </div>

  <div class="imagem-home">
    <img src="../../../assets/imagens/InShot_20240131_121945093.jpg" alt="imagem.home">
    <img src="../../../assets/imagens/InShot_20240131_122657013.jpg" alt="imagem.home">
    <img src="../../../assets/imagens/InShot_20240131_123805640.jpg" alt="imagem.home">
    <img src="../../../assets/imagens/InShot_20240131_124308866.jpg" alt="imagem.home">
    <img src="../../../assets/imagens/InShot_20240131_125037145.jpg" alt="imagem.home">
  </div>

  <div class="sharing--button"><a routerLink="new-moment">Compartilhar</a></div>

</div>
