mat-toolbar{
  display: flex;
  justify-content: space-between;
  background-color: rgb(91, 154, 205);
  color: white;

}

.left-container{
  display: flex;
  align-items: center;

}

.left-container mat-icon {
  margin-right: 8px; /* Ajuste o valor conforme necessário para obter o espaçamento desejado */
}



.right-container{
  display: flex;
  justify-content: space-between;

}

nav ul {
  list-style: none;
  display: flex;

}

nav ul li {
  margin-right: 15px; /* Ajuste o valor conforme necessário para obter o espaçamento desejado */
}

nav ul li a {
  text-decoration: none;
  color: white;
}
