/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Sixtyfour&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Estilo para o modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1C1C1C;
  padding: 20px;
  border-radius: 5px;
  z-index: 9999;
  height: 70%;
  color: antiquewhite;
}



/* Estilo para o overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cor do overlay com transparência */
  z-index: 9998; /* Certifique-se de que o overlay esteja por trás do modal */
  pointer-events: none; /* Impede que o overlay seja interativo */

}

.close-btn{
  border: none;
  right: 20px;
  position: absolute;
  background-color: #363636;
}



