<div class="container">
  <div class="description">
    <h1>Descrição do Projeto GameList</h1>
    <span>Projeto de estudo realizado com as tecnologias Java Spring Boot
      no backend e consumida com Angular, aonde uma lista com categorias
      de games é apresentada permitindo a troca de posiçao dos games na lista.
      Projeto de estudo realizado com as tecnologias Java Spring Boot
      no backend e consumida com Angular, aonde uma lista com categorias
      de games é apresentada permitindo a troca de posiçao dos games na lista
      Projeto de estudo realizado com as tecnologias Java Spring Boot
      no backend e consumida com Angular, aonde uma lista com categorias
      de games é apresentada permitindo a troca de posiçao dos games na lista
    </span>

    <div class="buttons">
      <div class="button">
        <a routerLink="/games">Ver Games</a>
      </div>
      <div class="button">
        <a routerLink="/categories">Ver Categorias</a>
      </div>
    </div>
  </div>

</div>
