<div class="container">
  <div class="description">
    <h1>Descrição do Projeto GameList</h1>
    <span>
      O projeto GameList é uma aplicação que utiliza as tecnologias Angular e Java Spring Boot para criar uma lista de jogos. No frontend, o Angular é responsável pela interface do usuário, utilizando conceitos como componentes, serviços e roteamento. No backend, o Spring Boot é utilizado para desenvolver uma API RESTful que fornece os dados dos jogos. A comunicação entre o frontend e o backend é feita por meio de requisições HTTP, utilizando o módulo HttpClient do Angular. Os dados dos jogos são persistidos em um banco de dados relacional, utilizando o Spring Data JPA para facilitar o acesso e a manipulação dos dados. Em resumo, o projeto GameList permite visualizar uma lista de jogos e suas informações, utilizando Angular no frontend, Spring Boot no backend e integração com banco de dados relacional.
    </span>

    <div class="buttons">
      <div class="button">
        <a routerLink="/games">Ver Games</a>
      </div>
      <div class="button">
        <a routerLink="games/categories">Ver Categorias</a>
      </div>
    </div>
  </div>

</div>
