<footer>

  <h3>Projeto GameList</h3>

    <div class="footer-contacts">
      <span>Contatatos:</span>

      <div class="insta-contact">
      <a href="https://www.instagram.com/andrer.matos/" target="blank">
        <app-icon src="../../../assets/icons/instagram-icone.svg"></app-icon>Instagram do Dev
      </a>
      </div>

      <div class="git-contact">
      <a href="https://github.com/andrematos90" target="blank">
        <app-icon src="../../../assets/icons/github_icon-icons.com_65450.svg">
        </app-icon>GitHub do Dev
      </a>
      </div>

      <div class="linkedin-contact">
        <a href="https://linkedin.com/in/andré-rosa-de-matos" target="blank">
          <app-icon src="../../../assets/icons/LinkedIn_icon-icons.com_55877.svg"></app-icon>Linkedin do Dev
        </a>
      </div>

    </div>


    <p>Moments&copy, 2024</p>

</footer>
